[Match]
# Device: <DeviceName|Unknown>
Name=wg0

[Network]
Address=<IPv4Address>
Address=<IPv6Address>
DNS=<DNS>
DNSDefaultRoute=yes
Domains=~.

[RoutingPolicyRule]
Family=both
SuppressPrefixLength=0
Priority=999
Table=main

[RoutingPolicyRule]
Family=both
FirewallMark=<FirewallMark|0x19>
InvertRule=true
Table=1000
Priority=1000

[Route]
Gateway=0.0.0.0
Table=1000

[Route]
Gateway=::
Table=1000
